doctype html
html
  head
    title VoIP Calculator Result
  body
    h1 VoIP R Value and MOS Calculator Result
    p Calculated R value: #{R.toFixed(2)}
    p Calculated MOS value: #{MOS.toFixed(2)}
    a(href="/") Calculate again
